body {
    background-color: lightblue;
    height: 190px;
    width: 570px;
    margin: auto; 
}

.container {
    margin-top: 50px;
    
}


.title {
    background-color: lightcoral;
    height: 170px;
    padding: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.recipes {
    background-color: lightsalmon;
    height: 170px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    color:beige;
    background-color: darkslategrey;
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    margin: 30px 200px 50px 200px;
    padding: 5px;
    
}

.lasagna {
    border: darkslategrey solid 2px;
    background-color: beige;
    font-size: 20px;
    margin: 36px;
    padding: 15px;
    border-radius: 10px;
}   

.pizza {
    border: darkslategrey solid 2px;
    background-color: beige;
    font-size: 20px;
    padding: 15px;
    margin: 65px;
    border-radius: 10px;
}

.fishtacos {
    border: darkslategrey solid 2px;
    background-color: beige;
    font-size: 20px;
    padding: 15px;
    margin: 36px;
    border-radius: 10px;
}